/*Colors*/
$primary-color: #f5c506;
$primary-color-dark: #4c4c4c;
$secondary-color: #ec9e03;
$menu-icons-color: #b99403;
$list-text-color: #a9a9a7;
$contrast-color: #fff;

/*Fonts*/
$logo-font: 'Roboto', sans-serif;
$main-font: 'Open Sans', sans-serif;;
