@import '../helpers/helpers';
@import '../base/config';

.footer {
    background: $primary-color-dark;
    padding: 0 6px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 6px 3px #000;

    @include respond-to(tablet) {
        padding: 6px;
        overflow: hidden;
    }
}