@import '../helpers/helpers';
@import '../base/config';

.main-nav {
  list-style: none;
  @include clear-fix;
}

.main-nav__item {
  float: left;
  width: 33.333%;

  display: block;
  background-color: #f0c106;
  background-image: linear-gradient(0deg, $news-bg-secondary-color 2px, rgba(#f0c106,0) 2px),
                    linear-gradient(90deg, $news-bg-secondary-color 2px, rgba(#f0c106,0) 2px);
  background-size: 6px 6px;
  background-attachment: fixed;
  border-right: 1px solid #d6ac05;
  text-align: center;
  padding: 15px 2px;

  a {
    color: #9b7d08;
    display: inline-block;
    font-family: $main-font;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
  }

  &:last-child {
    border-right: 0;
  }

  @include respond-to(medium) {
    a {
      font-size: 14px;
    }
  }

  @include respond-to(tablet) {
    background: initial;
    background-color: #f0c106;
    box-shadow: -4px -4px rgba(#f0c106,.5), -8px -8px rgba(#f0c106,.2) ;

    a {
      font-size: 18px;
    }
  }
}

.main-nav__icon {
  display: inline-block;
  vertical-align: middle;
  height: 11px;

  @include respond-to(medium) {
    height: 14px;
  }

  @include respond-to(tablet) {
    height: 19px;
  }
}

.main-nav__icon--user {
  width: 11px;

  background: url(../../img/icon-user.svg) no-repeat 50% 50%;
  background-size: contain;

  @include respond-to(medium) {width: 21px;}

  @include respond-to(tablet) {
    width: 16px;
  }
}

.main-nav__icon--services {
  width: 11px;

  background: url(../../img/icon-wrench.svg) no-repeat 50% 50%;
  background-size: contain;

  @include respond-to(medium) {width: 21px;}

  @include respond-to(tablet) {
    width: 16px;
  }
}

.main-nav__icon--contact {
  width: 14px;

  background: url(../../img/icon-letter.svg) no-repeat 50% 50%;
  background-size: contain;

  @include respond-to(medium) {width: 16px;}

  @include respond-to(tablet) {
    width: 24px;
  }
}
